{lib_dirs,["deps"]}.
{erl_opts, [{i, "include"}, {i, "include/thrift"}, debug_info]}.

{port_sources, ["c_src/*.cpp", "c_src/thrift/*.cpp"]}.
{so_name, "packer.so"}.
{port_envs, [
    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS",  "$LDFLAGS -lstdc++ -lthrift"},
    {".*",              "CXXFLAGS", "$CXXFLAGS -I/usr/local/include/thrift/ -DHAVE_INTTYPES_H -DHAVE_NETINET_IN_H"}
]}.

